body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 5px;
}

.header {
  background-color: #eff0f1;
}

.main {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation-group {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 50px;
  margin-right: 20px;
}

.header__link {
  text-decoration: none;
  margin-right: 20px;
  border: 5px;
  color: #333;
}

.header__theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-icon {
  height: 20px;
  margin-right: 5px;
}

.header__theme-text {
  color: #333;
}

.header__search-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__search-input {
  padding: 5px;
  border: none;
}

.header__login-link {
  text-decoration: none;
  color: #333;
}

.header__signup-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.line {
  border: none;
  border-top: 1px solid #000;
  margin: 10px 0;
}

.navigation-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-row__reference {
  text-decoration: none;
  color: #333;
}

.navigation-row__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation-row__icon {
  height: 20px;
  margin-left: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main__container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.main__left-sidebar {
  flex: 1;
}

.main__right-sidebar {
  flex: 1;
}

.main__content {
  flex: 2;
}

.main__sidebar-content {
  padding: 20px;
}

.main__sidebar-label {
  display: block;
  margin-bottom: 10px;
}

.main__sidebar-filter {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
}

.main__sidebar-select {
  width: 40%;
  padding: 10px;
}

.main__sidebar-section {
  margin-bottom: 20px;
}

.main__sidebar-title {
  margin-bottom: 10px;
}

.main__sidebar-list {
  list-style-type: none;
  padding: 0;
}

.main__sidebar-item {
  margin-bottom: 10px;
}

.main__content-article {
  margin-bottom: 20px;
}

.main__content-hr {
  border: none;
  border-top: 1px solid #000;
  margin: 20px 0;
}

.main__content-title {
  margin-bottom: 20px;
}

.main__content-text {
  margin-bottom: 20px;
}

.footer {
  list-style-type: none;
}

.footer__section {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.footer__list-item {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.footer__list-item:first-child {
  font-weight: bold;
  font-size: 1.2em;
}


