body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
  }
  
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }

.navigation {
    display: flex;
    height: 60px; /* высота контейнера навигации */
        flex-direction: row;
        justify-content: center;
        border-style: 1px solid gray;
      }
    
  .navigation__group {
    display: flex; 
    justify-content: 
    flex-start; gap: 20px;
  }
  
  .navigation__row {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin: 5px 0; /* отступы между элементами */
  }

  /*.header2 {
    display: flex;
    justify-content: space-between;
    flex-direction: auto; 
    background-color: #e9ecef;
    padding: 20px;
  }*/

  .header2 {
    text-align: left;
    font-size: 16px;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;    
}

.button {
    display: inline-block;
    width: 10px; /* установите желаемый размер */
    height: 5px; /* установите желаемый размер */
    line-height: 50px; /* это должно быть равно высоте */
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

#english-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#english-btn img {
    width: 15px;
    height: 15px;
}

.theme-toggle {
  width: 12px;
  height: 12px;
}


.search-input {
    background: white url('Search-Find-22.png') no-repeat right;
    padding-right: 10px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


  a {
    color: #000000;
    text-decoration: none;
  }

  a:hover {
  background-color: pink;
}

  .container {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 35%; /* ширина каждого aside */
    display: auto;
    justify-content: center; /* выравнивание содержимого по центру */
    align-items: center; /* выравнивание содержимого по центру */
    overflow-inline: scroll;
    height: auto; 
}



.main {
    width: 45%; /* ширина каждого aside */
    display: flex;
    justify-content: center; /* выравнивание содержимого по центру */
    align-items: center; /* выравнивание содержимого по центру */
}

  .footer-row1 {
    display: flex;
    flex-direction: row; 
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .footer-row2 {
    display: flex;
    flex-direction: row; 
    text-align: center;
    background-color: #e6e6e6;
    padding: 10px;
  }
  
footer-icons {
    display: flex;
    background: url('twitter.png');
    height: 20px;
    width: 20px;
    display: block;
}
